*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

*::-webkit-scrollbar{
    display: none;
}

:root {
    --headeryellow: #FFCA08;
    --headermenu: #221F21;
    --black: #000000;
}

.headerBar{
    width: 100%;
    height: 22vh;
    background: var(--headeryellow);
}

.logospace{
    width: 25%;
    height: 17vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0 0 0 12%;
}

.logospace a{
    font-size: 50px;
    text-decoration: none;
    color:var(--black);
    font-weight: 600;
}

.logospace p{
    font-size: 14px;
    font-weight: 350;
}

.headermenu{
    width: 100%;
    height: 5vh;
    background: var(--headermenu);
    display: flex;
    align-items: center;
}

.menul{
    width: 30%;
    margin: 0 0 0 11%;
}

.menul ul{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    color: white;
    list-style: none;
}

.menul ul a{
    text-decoration: none;
    color: #fff;
    transition: all 0.2s ease;
}

.menul ul a:hover{
    color: var(--headeryellow)
}

.list{
    width: 60%;
    height: 15vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 2% 0 0 13%;
}

.list_title h1{
    font-size: 22px;
    font-weight: 700;

}
.list table, th,td{
    border: 1px solid black;
    border-collapse: collapse;
  }