@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,200;1,500&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

*::-webkit-scrollbar{
    display: none;
}

:root {
    --headeryellow: #FFCA08;
    --headermenu: #221F21;
    --black: #000000;
}

.headerBar{
    width: 100%;
    height: 22vh;
    background: var(--headeryellow);
}

.logospace{
    width: 25%;
    height: 17vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0 0 0 12%;
}

.logospace a{
    font-size: 50px;
    text-decoration: none;
    color:var(--black);
    font-weight: 600;
}

.logospace p{
    font-size: 14px;
    font-weight: 350;
}

.headermenu{
    width: 100%;
    height: 5vh;
    background: var(--headermenu);
    display: flex;
    align-items: center;
}

.menul{
    width: 30%;
    margin: 0 0 0 11%;
}

.menul ul{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    color: white;
    list-style: none;
}

.menul ul a{
    text-decoration: none;
    color: #fff;
    transition: all 0.2s ease;
}

.menul ul a:hover{
    color: var(--headeryellow)
}

.list{
    width: 60%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 2% 0 0 13%;
}

.listTitle{
}

.listTitle h1{
    font-size: 22px;
    font-weight: 700;
}

.productCagetories{
    width: 100%;
    height: 115vh;
    margin: 4% 0 0 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.categoryTitle{
    width: 100%;
    height:6vh;
    font-size: 15px;
    padding-left: 10px;
    font-weight: 700;
    background:#fdf3c2;
    display: flex;
    align-items: center;
    border-top-right-radius: 15px;
    border-top-left-radius: 15px;
}

.indicatorName{
    width: 100%;
    height: 4vh;
    border-top: 1px solid #fdf3c2;
    border-left: 1px solid #fdf3c2;
    border-right: 1px solid #fdf3c2;
    padding: 4px 0 4px 10px;
    display: flex;
    align-items: center;
    box-sizing: border-box;
}

.bottom{
    border-bottom: 1px solid #fdf3c2;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
}

.indicatorName a{
    font-size: 14px;
    font-weight: 400;
    text-decoration: none;
    color: #000000;
}